<div class="about-section">
    <h1>Employee 360</h1>
    <p>Some text about who we are and what we do.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt voluptatibus rem excepturi sit eos eum necessitatibus aperiam error.</p>
   <marquee width="100%" behavior="scroll" [direction]=""> <h3>Foundation Day 01/01-2024</h3></marquee>
  </div>
<div class="bx-home">
    
    <div class="product-shalf">

<h1>EMPLOYEE 360</h1>
<p>Focus on being productive instead of busy.Most of the important things in the world have been accomplished by people who have kept on trying when there seemed to be no hope at all</p>
<button>EXPLORE NOW</button>
</div>
<div class="product-fhalf">
    <img src="assets/LOGO10.jpg" alt="">
  
</div>
</div>
<!--div *ngFor="let notif of notifications">
<h3>{{ notif.message }}</h3>
<h3>{{ notif.date }}</h3>
</div-->