<div class="bx-home">
    <div class="bx-home__sub">
    <div class="bx-home__sub--part1"> 
        <div class="login-box1">
            <!--h2>Employee Management</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur, recusandae sunt est optio corrupti quidem cum quam nesciunt error ex fugiat ullam at, esse iusto atque nostrum ipsum natus dignissimos.
            </p-->
            

        </div>
      
    </div>
    <div class="bx-home__sub--part2">
        <div class="login-box">
        <h2>Login</h2>
      <form (submit)="login()">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" [(ngModel)]="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" [(ngModel)]="password" required>
        </div>
        <button type="submit">Login</button>
      </form>
    </div>
    </div>
</div>

</div>
