<div >
  <header>

    <nav >
      <div class="nav-first">
        <img src="assets/icc.png" alt="" style="width: 40px;height: 40px;">
        <h4 style="color:  white; margin-top: 10px; font-family: Georgia, 'Times New Roman', Times, serif; margin-left: 10px;font-weight: 600;">Employee 360</h4>
      </div>
      <div class="nav-second">
       <a routerLink="/login" *ngIf="!isAuthenticated">Login</a>
      <a *ngIf="isAuthenticated()" (click)="form1()">Home</a>
      <a *ngIf="isUserAuthenticated()" (click)="form5()">Home</a>
      <a *ngIf="isAuthenticated()" (click)="form2()">Employee Details</a>
      <a *ngIf="isAuthenticated()" (click)="form3()">Add Employee</a>
      <a *ngIf="isUserAuthenticated()" (click)="form7()">My Leaves</a>
      <a *ngIf="isUserAuthenticated()" (click)="form4()">Apply Leave</a>
      <a *ngIf="isUserAuthenticated()" (click)="form6()">My Profile</a>
      <li><a (click)="logout()" *ngIf="isUserAuthenticated()">Logout</a></li>
      <li><a (click)="logout()" *ngIf="isAuthenticated()">Logout</a></li>
      </div>
    
    </nav>
  </header>

  <router-outlet></router-outlet>

  <footer>
    <p>Copyright © 2022 - 23 Employee 360</p>
  </footer>
</div>

